<!DOCTYPE html>
<html lang="en">

  <!-- HEAD -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- TITRE -->
    <title>Contact us - MatchifyJobs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}"/>
    
    <!-- STYLE CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/footer.css') }}">
  </head>

  <!-- HEADER -->
  <header>
    <div class="logo_container_head">
      <a class="logo_link" href="/"><img class="match_logo_header" src="../../static/img/logo.png" alt="Logo"></a>
      <a class="logo_link" href="/"><span id="logo">MatchifyJobs</span></a>
    </div>
    <div class="header_div">
      <a class="header_link" href="/">Welcome</a>
      <a class="header_link" href="/login">Platform</a>
      <a class="header_link" href="/challenges">Challenges</a>
      <a id="about_us" class="header_link" href="/us">About Us</a>
      <button id="button_logout" onclick="window.location.href='/login'">Log In</button>
      <div class="dropdown">
        <div id="debut" class="dl">
          <div>
            <button class="dropbtn" onclick="toggleFin(this)">
              <img class="selection_langue" id="english-flag" src="../../static/img/drapeau_en.png" alt="English Flag">
            </button>
          </div>
          <div class="lang"> En</div>
        </div>
        <div id="fin" class="dl">
          <div>
            <button onclick="redirectToFrenchContact()" class="dropfinbtn">
              <img class="selection_langue" id="french-flag" src="../../static/img/drapeau_fr.png" href="/contact_fr" alt="English Flag">
            </button>
          </div>
          <div class="lang"> Fr</div>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN -->
  <main id="contact_main">
    <div class="left-section">
      <p class="titre">Reach out to us</p>
      <p class="sous_titre"> Enhance the efficiency of your HR service now.</p>
    </div>

    <!-- DIV MESSAGE -->
    <div id="right_section_contact">
      <div id="success-message" class="success-message">
        <p id="placement">Message sent successfully!</p>
        <p>Your request has been recorded and will be processed soon. Thank you for reaching out to us !</p>
        <p><button id="button_reset" class="reload-btn">Send another message</button></p>
      </div>

      <!-- FORMULAIRE -->
      <div id="cache">
        <form id="contactForm" action="/submit_contact">
          <div class="form_input">
            <div class="colonne">
              <label for="firstName">First name*</label><br>
              <input class="inputfields" autocomplete='off' type="text" id="firstName" placeholder="First name" name="firstName" required>
            </div>
            <div class="colonne">
              <label for="lastName">Last name*</label><br>
              <input class="inputfields" autocomplete='off' type="text" id="lastName" placeholder="Last name" name="lastName" required>
            </div>
          </div>
          <div class="form_input">
            <div class="colonne">
              <label for="email">E-mail*</label><br>
              <input class="inputfields" autocomplete='off' type="email" id="email" placeholder="E-mail" name="email" required>
            </div>
            <div class="colonne">
              <label for="phoneNumber">Phone number* </label><br>
              <input class="inputfields" autocomplete='off' type="tel" id="phoneNumber" placeholder="Phone number" name="phoneNumber" required>
            </div>
          </div>
          <div class="form_input">
            <div class="colonne">
              <label for="company">Company* </label><br>
              <input class="inputfields" autocomplete='off' type="text" id="company" placeholder="Company" name="company">
            </div>
            <div class="colonne">
              <label for="companySize">Company size*</label><br>
              <select class="selectfields" id="companySize" name="companySize" required>
                <option value="" disabled selected hidden>Please Select</option>
                <option value="1-9">1 to 9</option>
                <option value="10-49">10 to 49</option>
                <option value="50-99">50 to 99</option>
                <option value="100-499">100 to 499</option>
                <option value="500+">500 or more</option>
              </select>
            </div>
          </div>
          <div class="form_input">
            <div class="remark">
              <label for="remarks">Notes, Suggestions or Questions* </label><br>
              <textarea id="remarks" placeholder="Type your message here..." name="remarks" required></textarea>
            </div>
          </div>
          <div class="form_input">
            <p id="infoform">By clicking submit below, you consent to allow MatchifyJobs to store and process the personal information submitted above to provide you the content requested.</p>
          </div>
          <div class="form_input">
            <button id="button_contact" class="clear-btn">Clear</button>
            <button id="button_contact">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <footer>
    <div class="logo_container_foot">
      <img class="match_logo_footer" src="../../static/img/logo.png" alt="Logo">
      <span id="copyright">Copyright &copy; 2024 MatchifyJobs - All rights reserved.</span>
    </div>
    <div class="footer_div">
      <a class="footer_logo" href="https://www.instagram.com/matchifyjobs/"><img src="../../static/img/logo_instagram.png" alt="Instagram"></a>
      <a class="footer_logo" href="https://twitter.com/matchifyjobs/"><img src="../../static/img/logo_x.png" alt="X"></a>
      <a class="footer_logo" href="https://www.linkedin.com/company/matchifyjobs/"><img src="../../static/img/logo_linkedin.png" alt="LinkedIn"></a>
      <span id="separator"><b>|</b></span>
      <a class="footer_link" href="/legal">Legal Notice</a>
      <a class="footer_link" href="/faq">FAQ</a>
      <a class="footer_link" href="">Contact Us</a>
    </div>
  </footer>

  <!-- SCRIPT JS -->
  <script src="../../static/script/contact.js"></script>
  <script src="../../static/script/langue.js"></script>

</html>